.git

.idea
.vscode

__pycache__
*.py[cod]
*.pyo
*.pyd

.venv
venv

.pytest_cache
.mypy_cache
.coverage
htmlcov

.env
.env.*

logs
screenshots
storage

config/data/proxies.txt

build
dist
*.egg-info

*.log
*.tmp
*.swp
